@import url(//fonts.googleapis.com/css?family=Roboto+Slab:300,700);
@import url(//openplans.github.io/planbox-themes/grandrapids-forward/alte_haas_grotesk_bold/alte_haas_grotesk_bold.css);
@import url(//openplans.github.io/planbox-themes/grandrapids-forward/custom.css);

body {
/*  background-color: #fff;*/
}
#site-header,
#colophon {
  display: none;
}


@media only screen and (min-width: 60em) {

  /* site-header and colophon are hidden */
  #map-container {
    top: 0;
    bottom: 0;
  }
  #content {
    top: 0;
    bottom: 0;
  }
  #ticker {
    top: 0;
  }

}
